.form-group{
    display: block;
    margin: 220px auto;
    width: 20%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 10px;
    color: #033800;
}
.form-group h2{
    font-family: Farsan;
    color: #033800;
    font-size: 40pt;
    text-align: center; 
}
.form input{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px #066600;
}
.form input:focus{
    border: solid 1px #ffe100;
}
.btnLogin{
    background-color: #066600;
    border: none;
    padding: 10px;  
    color: #ffe100;
    font-weight: bold;
}
.btnLogin:hover{
    background-color: #033800;
    color: #ffe100;
}